.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.875rem;
}

.minimize {
    display: none;
}

.weather-icon {
    height: 3.125rem;
    width: 3.125rem;
}